PORT=8787
PRICING_PROVIDER=domain
DOMAIN_CLIENT_ID=
DOMAIN_CLIENT_SECRET=
DOMAIN_SCOPES=api_properties_read api_listings_read
PRICING_CACHE_TTL_SECONDS=21600
ALLOWED_ORIGINS=https://hwatson14.github.io,http://127.0.0.1:8000
